<omlc exp_id="exp99" id="node11">
    <collect url="file:-">
        <mp name="sin" interval="2" > <!-- interval="" -->
            <f pname="value" /> <!-- default filter -->
            
            <f sname="foo" fname="avg" multi_pnames="t"> 
              <!-- 'multi_pnames' ... filter looks at multiples paramters -->
              <!-- 'fp' .. filter parameters -->
              <fp name="key">1,3</fp> 
                <!-- concat fist & second field for key -->
                <!-- param def type = string -->
            </f>
        </mp>
    </collect>
</omlc> 
