libtool
.deps
stamp-h1
.DS_Store
.cproject
.project
Debug/
build/
buildx/
config.h
config.log
config.status
.libs
*.la
*~
*.bak
*.swp
*.o
*.lo
*.Plo
*.Po
Makefile.in
Makefile
!example/liboml2/config.h
!example/liboml2/Makefile
aclocal.m4
config.h.in
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
autom4te.cache
ar-lib
compile
doc/oml-user-manual.info
doc/texinfo.tex
doc/mainpage.md
doc/install.md
doc/example.md
doc/index.txt
doc/*.1
doc/*.3
doc/*.5
doc/*.html
doc/doxygen/
m4/*
!m4/ax_check_postgres_db.m4
!m4/ax_compare_version.m4
!m4/ax_prog_doxygen.m4
!m4/ax_prog_ruby_version.m4
!m4/ax_with_prog.m4
!m4/gnulib-cache.m4
!m4/oml_check_macosx.m4
!m4/oml_distribution_is.m4 
!m4/oml_git_search_treeish.m4
gnulib
build-aux
!build-aux/gen-authors.sh
.version
p-*
proxy_server/oml2-proxy-server
server/oml2-server
ruby/oml2-scaffold
test/lib/stddev_0.c
test/lib/stddev_1.c
test/server/issue610.rb
test/testclient
