libtool
.deps
stamp-h1
.DS_Store
.cproject
.project
Debug/
build/
buildx/
config.h
config.log
config.status
.libs
*.la
*~
*.bak
*.swp
*.o
*.lo
*.Plo
*.Po
Makefile.in
Makefile
aclocal.m4
config.h.in
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
autom4te.cache
ar-lib
compile
doc/oml-user-manual.info
doc/texinfo.tex
m4/*.m4
!m4/ax_compare_version.m4
!m4/ax_prog_ruby_version.m4
!m4/ax_with_prog.m4
