Christoph Dwertmann <christoph.dwertmann@nicta.com.au>		<Christoph.Dwertmann@nicta.com.au>
Guillaume Jourjon <guillaume.jourjon@nicta.com.au>		<Guillaume.Jourjon@nicta.com.au>
Jolyon White <jolyon.white@nicta.com.au>			<Jolyon.White@nicta.com.au>
Jolyon White <jolyon.white@nicta.com.au>			<jwhite@norbit.npc.nicta.com.au>
Max Ott <max.ott@nicta.com.au>					<Max.Ott@nicta.com.au>
Olivier Mehani <olivier.mehani@nicta.com.au>			<shtrom@ssji.net>
Olivier Mehani <olivier.mehani@nicta.com.au>			<omehani@benoy-VirtualBox.(none)>
Stephen Glass <s.glass@nicta.com.au>
Stephen Glass <s.glass@nicta.com.au>				<stephen.glass@nicta.com.au>
Thierry Rakotoarivelo <thierry.rakotoarivelo@nicta.com.au>	<thierry.rakotoarivelo@nicta.com.au>
