Source: oml2
Section: net
Priority: extra
Maintainer: Christoph Dwertmann <christoph.dwertmann@nicta.com.au>
Build-Depends: debhelper (>= 5), libxml2-dev, libpopt-dev, libsqlite3-dev, libpq-dev, check, pkg-config, asciidoc, texinfo, libxml2-utils, docbook-xml, docbook-xsl, xsltproc
Standards-Version: 3.7.2

Package: oml2-server
Architecture: any
Replaces: oml-server
Breaks: oml-server (<< 2.4)
Depends: ${misc:Depends}, libc6, libsqlite3-0, libpq5, libpopt0, libocomm1 (= ${Source-Version}), adduser
Description: OML measurement server
 The OML server accepts connections from client applications and
 stores measurements that they transmit in a database.  Currently the
 SQLite3 database is supported.  The server understands both binary
 and text protocols on the same TCP port.

Package: oml2-proxy-server
Architecture: any
Replaces: oml-server
Breaks: oml-server (<< 2.4)
Depends: ${misc:Depends}, libc6, libpopt0, libocomm1 (= ${Source-Version})
Description: OML proxy server
 The OML proxy server acts as a buffer for measurements.  It accepts
 connections from OML client applications and then stores them in
 memory and on disk until the user issues a RESUME command, whereupon
 it forwards the measurements on to a downstream oml2-server daemon.
 This is useful in experiments where the machine lacks connectivity to
 the oml2-server, or where the applications generate measurements at
 such a high rate that they can't be sent over the network without
 impacting the outcome experiment itself.

Package: oml2-proxycon
Architecture: any
Depends: ${misc:Depends}, ruby
Description: OML proxy server control script
 The OML proxy server control script allows a remote user to control an
 OML proxy server via its socket control interface.  Allows users to PAUSE
 and RESUME transmission to the downstream server.

Package: liboml2-dev
Section: libdevel
Architecture: any
Replaces: liboml-dev
Breaks: liboml-dev (<< 2.4), oml-server (<< 2.4)
Depends: liboml2 (= ${Source-Version}), libocomm-dev (= ${Source-Version}), ruby (>=1.8.7)
Description: OML measurement library headers
 Development headers for developing applications that make
 measurements using liboml2, the client library for the OML
 measurement framework.  Also provides the oml2-scaffold program
 for generating skeleton OML application code.

Package: liboml2
Section: libs
Architecture: any
Depends: liboml2-9 (= ${Source-Version})
Description: OML: The Orbit Measurement Library (metapackage)
 This metapackage pulls in the latest stable version of liboml2.
 .
 This library allows application writers to define customizable
 measurement points in their applications to record measurements
 either to file, or to an OML server over the network (see the
 oml2-server package).

Package: liboml2-9
Section: libs
Architecture: any
Replaces: liboml
Breaks: liboml (<< 2.4)
Depends: libc6, libocomm1, libxml2, ${misc:Depends}
Description: OML: The Orbit Measurement Library
 This library allows application writers to define customizable
 measurement points in their applications to record measurements
 either to file, or to an OML server over the network (see the
 oml2-server package).

Package: libocomm-dev
Section: libdevel
Architecture: any
Replaces: liboml-dev
Breaks: liboml-dev (<< 2.4)
Depends: libocomm (= ${Source-Version})
Description: OML measurement library headers
 Development headers for developing applications that use libocomm.

Package: libocomm
Section: libs
Architecture: any
Depends: libocomm1 (= ${Source-Version})
Description: OComm:  Orbit Communications Library (metapackage)
 This metapackage pulls in the latest stable version of libocomm.
 .
 This library provides a poll-based event loop and a set of functions
 for doing event-based socket communication.

Package: libocomm1
Section: libs
Architecture: any
Replaces: liboml
Breaks: liboml (<< 2.4)
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OComm:  Orbit Communications Library
 This library provides a poll-based event loop and a set of functions
 for doing event-based socket communication.
