Source: oml2
Section: net
Priority: extra
Maintainer: OML development team <oml-user-request@lists.nicta.com.au>
Uploaders: Olivier Mehani <olivier.mehani@nicta.com.au>, Thierry Rakotoarivelo <thierry.rakotoarivelo@nicta.com.au>, Guillaume Jourjon <guillaume.jourjon@nicta.com.au>
Build-Depends: debhelper (>= 5), libxml2-dev, libpopt-dev, libsqlite3-dev, libpq-dev, check, pkg-config, asciidoc, texinfo, ruby, libxml2-utils, docbook-xml, docbook-xsl, xsltproc
Standards-Version: 3.9.4

Package: oml2
Architecture: any
Depends: oml2-server, oml2-proxy-server, oml2-proxycon, liboml2, liboml2-dev, ${misc:Depends}
Suggests: oml2-example
Description: OML: The O? Measurement Library Suite (Metapackage)
 This metapackage installs the OML client library, development headers, and
 various server applications packages.

Package: oml2-server
Architecture: any
Replaces: oml-server
Breaks: oml-server (<< 2.4)
Depends: ${misc:Depends}, ${shlibs:Depends}, libsqlite3-0, libpq5, libpopt0, liboml2 (= ${binary:Version}), adduser
Suggests: oml2-example, oml2-server-omfdef
Description: OML measurement server
 The OML server accepts connections from client applications and
 stores measurements that they transmit in a database.  Currently the
 SQLite3 database is supported.  The server understands both binary
 and text protocols on the same TCP port.

Package: oml2-server-omfdef
Section: net
Priority: optional
Architecture: all
Depends: omf-expctl-5.4, ${misc:Depends}
Suggests: oml2-server
Description: Meta-package that installs OMF-5.4 definition of OML2 server
 This package installs all the application definition needed by the OMF 5.4
 experiment controller to use the oml2-server.

Package: oml2-proxy-server
Architecture: any
Replaces: oml-server
Breaks: oml-server (<< 2.4)
Depends: ${misc:Depends}, ${shlibs:Depends}, libpopt0, libocomm (= ${binary:Version})
Description: OML proxy server
 The OML proxy server acts as a buffer for measurements.  It accepts
 connections from OML client applications and then stores them in
 memory and on disk until the user issues a RESUME command, whereupon
 it forwards the measurements on to a downstream oml2-server daemon.
 This is useful in experiments where the machine lacks connectivity to
 the oml2-server, or where the applications generate measurements at
 such a high rate that they can't be sent over the network without
 impacting the outcome experiment itself.

Package: oml2-proxycon
Architecture: any
Depends: ${misc:Depends}, ruby
Description: OML proxy server control script
 The OML proxy server control script allows a remote user to control an
 OML proxy server via its socket control interface.  Allows users to PAUSE
 and RESUME transmission to the downstream server.

Package: oml2-example
Architecture: any
Depends: oml2-generator (= ${binary:Version}), ${misc:Depends}
Description: Example OML application (metapackage)
 This metapackage pulls in an example OML application, useful to test server
 and reporting chains setups.

Package: oml2-generator
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, , libpopt0, liboml2 (= ${binary:Version}), libocomm (= ${binary:Version})
Description: Example OML sine wave generator
 A simple OML-instrumented sine wave generator, useful to test server and
 reporting chains setups.

Package: liboml2-dev
Section: libdevel
Architecture: any
Replaces: liboml-dev
Breaks: liboml-dev (<< 2.4), oml-server (<< 2.4)
Depends: ${misc:Depends}, liboml2 (= ${binary:Version}), libocomm-dev (= ${binary:Version}), ruby (>=1.8.7)
Description: OML measurement library headers
 Development headers for developing applications that make
 measurements using liboml2, the client library for the OML
 measurement framework.  Also provides the oml2-scaffold program
 for generating skeleton OML application code.

Package: liboml2
Section: libs
Architecture: any
Depends: liboml2-9 (= ${binary:Version}), ${misc:Depends}
Description: OML: The O? Measurement Library (metapackage)
 This metapackage pulls in the latest stable version of liboml2.
 .
 This library allows application writers to define customizable
 measurement points in their applications to record measurements
 either to file, or to an OML server over the network (see the
 oml2-server package).

Package: liboml2-9
Section: libs
Architecture: any
Replaces: liboml
Breaks: liboml (<< 2.4)
Depends: ${shlibs:Depends}, libocomm (= ${binary:Version}), libxml2, ${misc:Depends}
Suggests: oml2-example
Description: OML: The O? Measurement Library
 This library allows application writers to define customizable
 measurement points in their applications to record measurements
 either to file, or to an OML server over the network (see the
 oml2-server package).

Package: libocomm-dev
Section: libdevel
Architecture: any
Replaces: liboml-dev
Breaks: liboml-dev (<< 2.4)
Depends: libocomm (= ${binary:Version}), ${misc:Depends}
Description: OML measurement library headers
 Development headers for developing applications that use libocomm.

Package: libocomm
Section: libs
Architecture: any
Depends: libocomm1 (= ${binary:Version}), ${misc:Depends}
Description: OComm:  O? Communications Library (metapackage)
 This metapackage pulls in the latest stable version of libocomm.
 .
 This library provides a poll-based event loop and a set of functions
 for doing event-based socket communication.

Package: libocomm1
Section: libs
Architecture: any
Replaces: liboml
Breaks: liboml (<< 2.4)
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OComm:  O? Communications Library
 This library provides a poll-based event loop and a set of functions
 for doing event-based socket communication.
